html {
  font-size: 10px;
}
body {
  position: relative;
  font-family: "S-CoreDream-3Light";

  background: rgb(63, 104, 185);
  background: linear-gradient(
    152deg,
    rgba(63, 104, 185, 1) 0%,
    rgba(122, 160, 169, 1) 63%,
    rgba(195, 238, 210, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;

  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
#wrap {
  position: relative;
  min-width: 108rem;
}
#header {
  position: relative;
  height: 7rem;
}
#container {
  padding: 2rem;
  text-align: center;
}
#icon-cal {
  position: relative;
  overflow: hidden;
}
#iconImg {
  opacity: 0.4;
  animation-name: iconEvent;
  animation-duration: 1.3s;
}
#iconImg:hover {
  opacity: 0.8;
  cursor: pointer;
  animation-name: iconHoverEvent;
}
#iconImg:active {
  animation-name: iconActiveEvent;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
#container #title-main {
  font-family: "S-CoreDream-9Black";
  font-size: 8.4rem;
  color: #fff;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);

  animation-name: titleEvent-main;
  animation-duration: 1.3s;
}
.box {
  animation-name: titleEvent-sub;
  animation-duration: 1.3s;
}
#container #title-sub {
  position: relative;
  margin: 1.2rem;

  font-family: "S-CoreDream-4Regular";
  font-size: 2.4rem;
  color: #fff;
}
#box-ex {
  position: relative;
  margin: 0rem auto;
  width: 80rem;
}
#box-ex #explain {
  padding: 3.5rem;

  font-size: 1.35rem;
  text-align: left;
  border-radius: 1.8rem;
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.25);
}
#box-line {
  padding: 5rem;
  position: relative;
  margin: 0 auto;
  width: 830px;
}
#box-line > #comingsoon {
  margin: 0 2em;
  font-family: "S-CoreDream-3Light";
  font-size: 3.2rem;
  color: #fff;
  float: left;
}
#box-line > #line {
  float: left;
}

/*애니매이션*/
@keyframes titleEvent-main {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes titleEvent-sub {
  from {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes iconEvent {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 0.4;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes iconHoverEvent {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
@keyframes iconActiveEvent {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
